html, body {
  min-height: 100%;
}

body {
  background-image: url(../images/background.jpg);
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: visible;
}

.barcode-pointer {
    position: absolute;
    top: -66px;
    right: -108px;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50% 50% 50% 0;
    padding: 25px 19px;
    font-size: 17px;
    line-height: 0.9;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    color: #0098D4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.sidebar {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -256px;
  width: 256px;
  background-color: #564337;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  -webkit-transition: left .5s;
  -moz-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;

  &.open {
    left: 0;
  }

  .logo {
    margin: 17px auto 48px auto;
    display: block;
  }

  h2 {
    margin: 20px 30px;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 0 #f6f3f0;
  }

  section {
    margin: 20px;
    padding-top: 20px;
    border-top: 1px solid #6D6969;

    h3 {
      margin: 10px;
      font-weight: 600;
      color: #fff;
    }

    label {
      color: #B9B9B9;
      cursor: pointer;

      &:hover {
        color: #D0D0D0;
      }
    }
  }

  &-toggle {
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: calc(50% - 50px);
    width: 28px;
    font-size: 24px;
    height: 100px;
    background-color: #564337;
    color: #fff;
    line-height: 100px;
    text-align: center;
    cursor: pointer;

    -webkit-backface-visibility: hidden;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;

    &.open {
      left: 256px;
    }
  }
}

.background-video {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 100%;
    object-fit: cover;
}