html, body {
  min-height: 100%; }

body {
  background-image: url(../images/background.jpg);
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: visible; }

.barcode-pointer {
  position: absolute;
  top: -66px;
  right: -108px;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50% 50% 50% 0;
  padding: 25px 19px;
  font-size: 17px;
  line-height: 0.9;
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  color: #0098D4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.search {
  position: relative;
  display: block;
  max-width: 600px;
  border-radius: 6px;
  margin: 0 auto;
  padding: 10px 10px 7px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 20;
  margin-top: 20px; }
  .search__tags {
    padding: 0;
    margin: 0; }
  .search__tag {
    background: #0098d4;
    padding: 5px 0 5px 10px;
    border-radius: 5px;
    margin-left: 3px;
    margin-bottom: 3px;
    color: white;
    display: inline-block; }
    .search__tag__remove {
      background: none;
      border: none;
      padding: 0;
      margin: 0 5px 0 0;
      border-left: solid thin rgba(0, 0, 0, 0.3);
      cursor: pointer; }
  .search__field {
    border: none;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 8px; }
  .search__submit, .search .scan__submit {
    background: none;
    border: none; }
  .search__wrapper {
    position: relative; }
  .search__autocomplete {
    position: absolute;
    width: 100%;
    bottom: 0px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10; }
    .search__autocomplete li {
      margin: 0 auto;
      background: white;
      max-width: 580px;
      padding: 8px 20px;
      box-sizing: border-box;
      cursor: pointer; }
      .search__autocomplete li:hover {
        background: #ddd; }
      .search__autocomplete li:last-child {
        border-radius: 0 0 6px 6px; }

.suggestions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .suggestions li {
    float: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.results {
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .results__image {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0; }
  .results__label {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
  .results__item {
    margin-bottom: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 200px;
    height: 200px;
    position: relative; }
    .results__item:nth-child(1) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    .results__item:nth-child(2) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .results__item:nth-child(3) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .results__item:nth-child(4) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .results__item:nth-child(5) {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .results__item:nth-child(6) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .results__item:nth-child(7) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }
    .results__item:nth-child(8) {
      -webkit-animation-delay: 1.4s;
      animation-delay: 1.4s; }
    .results__item:nth-child(9) {
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s; }
    .results__item:nth-child(10) {
      -webkit-animation-delay: 1.8s;
      animation-delay: 1.8s; }
    .results__item:nth-child(11) {
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .results__item:nth-child(12) {
      -webkit-animation-delay: 2.1s;
      animation-delay: 2.1s; }

img.branding-logo {
  transition: all .8s ease;
  object-fit: contain;
  height: 300px; }

body.no-logo img.branding-logo {
  height: 60px; }

/*# sourceMappingURL=app.css.map */
