@import "base/colors";

@import "components/index";
@import "components/search";
@import "components/suggestions";
@import "components/results";

img.branding-logo {
  transition: all .8s ease;
  object-fit: contain;
  height: 300px;
}

body.no-logo {
  img.branding-logo {
    height: 60px;
  }
}

.loaderdisplay {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
    color: #FFF;
    text-align: center;
    font-size: 42px;
    opacity: 0;
    transition: all .3s ease;
}

body.loading {
    .loaderdisplay {
        opacity: 1;
    }
}
